<div class="container">
  <!-- chat area-->
  <div class="chatarea" #chatAreaRef>
    <div *ngFor="let message of messages$ | async; let last=last">
      <p>{{ renderMessage(message) }}</p>
      {{ last ? scrollChatAreaToBottom() : '' }}
    </div>
  </div>

  <mat-divider></mat-divider>

  <form class="chatinput" #chatForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="chatinput__row">
      <mat-form-field>
        <mat-label for="message">Message</mat-label>
        <input
          type="text"
          name="message"
          id="message"
          required
          [(ngModel)]="message"
          #messageInput="ngModel"
          matInput
        />
        <mat-error [hidden]="messageInput.valid || messageInput.pristine">
          You need to enter message
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit" [disabled]="chatForm.invalid || chatForm.pristine">
        Send <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>
